html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  min-width: 20%;
  height: 50vh;
  border: none;
  margin: 20px 0px;
  padding: 0px;
}

@media (min-width: 576px) {
  .card-deck .card {
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin: 20px;
  }
}

.card-img {
  width: 100%;
  height: 50%;
  /* object-fit: cover; */
  margin: 0 auto;
}

.card-img-full {
  width: 25%;
  height: 25%;
  align-self: center;
}

.inner {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.MuiIconButton-root {
  padding: 0;
}

#cart-action-container {
  display: flex;
}

.cart-action {
  flex: 0.33;
  margin: 50px;
}

.cart-action a {
  color:white;
}

.cart-action a:hover {
  text-decoration: none;
}

.nav-link {
  font-size: large;
  font-weight: bolder;
}

.ui.inverted.menu {
  background: blue;
}

.ui.left.visible.sidebar {
  width: 120px;
  padding-top: 10px;
}

.ui.labeled.icon.menu .item {
  margin: 20px 5px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.vertically-centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}